<link rel="stylesheet" href="/css/style_filter.css">
      <div class="filtcont">
        <div class="flt">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-water"></i>
            <p>Lakes</p>
        </div>
        <div class="flt">
            <i class="fa-brands fa-fort-awesome"></i>
            <p>Castles</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-person-swimming"></i>
            <p>Amazing Pools</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-bed"></i>
            <p>Rooms</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-bowling-ball"></i>
            <p>Play</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-tents"></i>
            <p>Camping</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-snowflake"></i>
            <p>Arctic</p>
        </div>
        <div class="flt">
            <i class="fa-solid fa-mountain-city"></i>
            <p>Mountain City</p>
        </div>
        <div class="flt" id="switch">
            <div class="form-check form-switch form-check-reverse tgl">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Show prices after taxes</label>
            </div>
        </div>
    </div>
</div>

