<div class="ft">
    <div class="ft-sm">
        <a href=""><i class="fa-brands fa-facebook" style="color: #1877f2;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color: #8134af;"></i></a>
        <a href="https://www.linkedin.com/in/ayush-sur-6222b0291/"><i class="fa-brands fa-linkedin" style="color: #0077b5;"></i></a>
        <a href="https://github.com/SurAyush"><i class="fa-brands fa-github" style="color: #000;"></i></a>
    </div>
    <div class="ft-ln2">
        <a href="/listings" style="color: #ff385c;"><i class="fa-regular fa-copyright"></i>Wonderlust</a>
        &nbsp;&nbsp;
        <a href="/#" style="color: #000;">Privacy</a>
        &nbsp;&nbsp;
        <a href="/#" style="color: #000;">Terms</a>
        &nbsp;&nbsp;
        <a href="/updates" style="color: #000;">Future-Updates</a>
    </div>
    <div class="footer">
        <div class="line"></div>
    </div>
</div>