<% layout('layout/boilerplate') -%>
<style>
    .ft{ 
        position: absolute;
        bottom: 0;
    }
</style>
<body>
    <h2>Upcoming Updates</h2>
    <ul>
        <li>Map Markup and Geocoding of location</li>
        <li>Functional Search Box</li>
        <li>Functional FIlters</li>
    </ul>
</body>